<!doctype html>
<html>
<head>
	<title>Demo Page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/static/delete.js"></script>
	<script src="/static/selectedplaybook.js"></script>
	<script src="/static/updatehero.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>