<h1>Current people:</h1>
<h1>Handlebars JS Example</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Homeworld</th>
        <th>Age</th>  
    </thead> 
    <tbody> 
        {{#each heroes}} 
        <tr> 
            <td>{{hero_name}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
    </form>
</table> 
