<h1>Current heroes:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Name</th> 
		<th>Playbook</th>
    </thead> 
    <tbody> 
        {{#each heroes}} 
        <tr> 
            <td>{{hero_name}}</td> 
			<td>{{playbook}}</td>
			<td><a href="/heroes/{{Char_ID}}">See/Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
