<h1>Current heroes:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Name</th> 
    </thead> 
    <tbody> 
        {{#each heroes}} 
        <tr> 
            <td>{{hero_name}}</td> 
			<td>{{playbook}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
